============================
# Global Ignores
============================
.vscode/
trackyio
trackio-wireeeframe.png

===========================
# Ignores in  app/backend
===========================

app/backend/.venv
app/backend/.env
app/backend/instance
app/backend/Posting_2025-12-31*

===========================
# Ignores in  app/backend/app
===========================

app/backend/app/__pycache__/
app/backend/app/blueprints/__pycache__/
app/backend/app/core/__pycache__/
app/backend/app/db/__pycache__/
app/backend/app/models/__pycache__/
app/backend/app/schema/__pycache__/
app/backend/app/utils/__pycache__/
app/backend/app/logs/